@(sprinklers: List[model.Controller], locations: List[String], running: Int, notRunning: Int)

@main("Sprinkler Status") {

    <script src='@routes.Assets.at("/components/platform/platform.js")'></script>
  <link rel="import" href='@routes.Assets.at("/components/font-roboto/roboto.html")'>
  <link rel="import" href='@routes.Assets.at("/components/core-header-panel/core-header-panel.html")'>
  <link rel="import" href='@routes.Assets.at("/components/core-toolbar/core-toolbar.html")'>
  <link rel="import" href='@routes.Assets.at("/components/paper-tabs/paper-tabs.html")'>
  <link rel="import" href='@routes.Assets.at("/components/paper-dialog/paper-dialog.html")'>
  <link rel="import" href='@routes.Assets.at("post-card.html")'>
  <style>
    html,body {
        height: 100%;
        margin: 0;
        background-color: #E5E5E5;
        font-family: 'RobotoDraft', sans-serif;
     }
    core-header-panel {
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch; 
    }
    core-toolbar {
        background: #03a9f4;
        color: white;
    }
    paper-tabs {
        width: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .container {
        width: 80%;
        margin: 50px auto;
    }
    
    paper-ripple {
  color: #4285f4;
}
    @@media (min-width: 481px) {
        paper-tabs {
            width: 600px;
        }
        .container {
            width: 400px;
        }
       .paper-button {
    background: #4285f4;
    color: #fff;
}
.bottom_box {
    position:absolute;
    bottom:0;
    right:0;
}
.paper-button:hover {
    background: #2a56c6;
}
    }
  </style>
  
   <core-header-panel>
        <core-toolbar>
            <paper-tabs selected="all" valueattr="name" self-end>

                <paper-tab name="all">ALL</paper-tab>
                <paper-tab name="running">RUNNING (@running)</paper-tab>
                <paper-tab name="notrunning">NOT RUNNING (@notRunning)</paper-tab>
                @for(loc <- locations){
                    <paper-tab name=@loc>@loc</paper-tab>
                }
            </paper-tabs>
        </core-toolbar>
        <div horizontal layout wrap>
            @for(sprinkler <- sprinklers){
                <div class="container">
                    <post-card>
                        <paper-ripple class="recenteringTouch"></paper-ripple>
                        @if(sprinkler.flag1.equals("programsDisabled")){
                            <img width="50" height="50" src='@routes.Assets.at("/images/off.png")' title="No Programs Enabled">
                        }
                        @if(sprinkler.flag1.equals("timesNotSet")){
                            <img width="50" height="50" src='@routes.Assets.at("/images/off.png")' title="No Times Set">
                        }
						@if(sprinkler.flag1.equals("timeIncorrect")){
                            <img width="50" height="50" src='@routes.Assets.at("/images/off.png")' title="The Time Is Incorrect">
                        }
                        @if(sprinkler.flag1.equals("clear")){
                            <img width="50" height="50" src='@routes.Assets.at("/images/on.png")' title=@sprinkler.programNumber>
                        }
                        @if(sprinkler.flag2.equals("noFlowDetected")){
                            <img width="50" height="50" src='@routes.Assets.at("/images/off.png")' title="No Flow Detected">
                        }
                          @if(sprinkler.flag2.equals("flowAbove")){
                            <img width="50" height="50" src='@routes.Assets.at("/images/off.png")' title="Flow Is Too High">
                        }
                        @if(sprinkler.flag2.equals("clear")){
                            <img width="50" height="50" src='@routes.Assets.at("/images/on.png")' title="It's All Good">
                        }
                         @if(sprinkler.allowRun == true){
                	       <img width="50" height="50" src='@routes.Assets.at("/images/on.png")'>
                        }else{
                	       <img width="50" height="50" src='@routes.Assets.at("/images/off.png")'>
                        }
			             <h2>@sprinkler.name</h2>
			              <form method="post" action="https://cloud.irrigationcaddy.com/auth/login">
  <input type="login" name="login" value=@sprinkler.uname hidden=true/><br/>
  <input type="password" name="password" value=@sprinkler.pword hidden=true/><br/>

  <input type="submit" value="Login" />
</form>
                    </post-card>
                </div>
	        }
        </div>
    </core-header-panel>
    <p class="bottom_box"><paper-button label="raised button" class="paper-button" onclick="toggleDialog()">Add User</paper-button></p>
    <paper-dialog heading="Add a User" id="dialoge" transition="paper-dialog-transition-bottom">
    <form method="post" action="@routes.Application.addLogin()">
  <input type="username" name="username"/><br/>
  <input type="password" name="password" /><br/>

  <input type="submit" value="View on Website" />
</form>
<iframe src="https://cloud.irrigationcaddy.com/auth/logout"></iframe>
       
    </paper-dialog>
    <script>
        var tabs = document.querySelector('paper-tabs');
        tabs.addEventListener('core-select', function() {
        console.log("Selected: " + tabs.selected);
        });
        
    function toggleDialog() {
      var dialog = document.getElementById("dialoge")
      dialog.toggle();
    }
  
    </script>
 

}
